/* Live Preview 모드에서 강제로 배너 영역 생성 */
.noheader .mod-header {
  display:none;
}
.is-live-preview .markdown-source-view {
  padding-top: 150px; /* 배너 높이에 따라 조정 */
}

.is-live-preview .banner {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px; /* 배너 높이에 맞게 조정 */
  background-image: url('배너이미지경로'); /* 직접 이미지 경로 입력 */
  background-size: cover;
}
