/* 모든 프론트매터 필드 숨기기 */
.markdown-preview-view .frontmatter-container {
  display: none;
}

/* 특정 필드만 표시 */
.metadata-properties .metadata-property[data-property-key="my_rate"],
.metadata-properties .metadata-property[data-property-key="dandi"] {
  display: block;
}
