/* 편집모드에서 현재 줄 회색으로 강조하기 */
.markdown-source-view.mod-cm6 .cm-line.cm-active{
    background-color: rgba(var(--mono-rgb-100), 0.05)
}

.markdown-source-view.mod-cm6  .cm-lineNumbers .cm-gutterElement.cm-active {
  font-weight: 600;
  color: grey;
}