/*
 * MIT License | Copyright Booktracing
 * Youtube : @booktracing
 * 설명:
    margin-top과 margin-bottom을 조절해서 제목의 상,하단의 여백을 조절할 수 있습니다.
    .cm-s-obsidian span.cm-header는 편집 모드에서 적용이 되며,
    .markdown-preview-view h1는 읽기 모드에서 적용이 됩니다.
 * 버전: 1.0.0
 * 업데이트 날짜: 2024-06-16
 */



/* 헤딩(제목) 스타일 변경*/

/* Heading 1 */

.cm-s-obsidian span.cm-header-1 { /* 편집 모드에서 적용 */
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  display: inline-block;
  }
.markdown-preview-view h1 {  /* 읽기 모드에서 적용 */
    margin-bottom: -10px !important;
  }

/* Heading 2 */
.cm-s-obsidian span.cm-header-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: inline-block !important;
}
.markdown-preview-view h2 {
  color: darkorange !important;
  font-size: 28px !important;
  margin-bottom: -5px !important;
}

/* Heading 3 */
.cm-s-obsidian span.cm-header-3 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  display: inline-block;
}
.markdown-preview-view h3 {
  margin-bottom: -5px !important;
}

/* Heading 4 */
.cm-s-obsidian span.cm-header-4 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  display: inline-block;
}
.markdown-preview-view h4 {
  margin-bottom: -10px !important;
}

/* Heading 5 */
.cm-s-obsidian span.cm-header-5 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: inline-block;
}
.markdown-preview-view h5 {

  margin-bottom: -20px !important;
}

/* 텍스트 볼드 (굵은 글씨) */
.markdown-source-view.mod-cm6 .cm-strong, 
.markdown-preview-view strong {
color: #dd8d31 !important;
font-family: 'Courier New', Courier, monospace;
vertical-align: bottom;
position: relative;
top: 2px;
}

/* 텍스트 이탤릭 */
.markdown-preview-view em,
.markdown-source-view.mod-cm6 .cm-em {
color: #4BACC6 !important;
margin-right: 3px;/* 텍스트의 우측 마진은 텍스트가 겹치는 문제를 줄여줍니다. */
}

/* 텍스트 볼드 & 이탤릭 (굵고 기울인 글씨) */
.markdown-source-view.mod-cm6 .cm-strong.cm-em, 
.markdown-preview-view strong em {
color: #7ce13d !important;
font-family: 'Courier New', Courier, monospace !important;
margin-right: 3px;
}

/* 텍스트 하이라이트 */
.markdown-preview-view mark,
.markdown-source-view.mod-cm6 .cm-highlight {
background-color: #b35e09 !important;
color: #dddddd !important;
padding: 2px 2px !important; /* 상하, 좌우 너비 */
}

/* 밑줄 */
u {
text-underline-offset: 4px; /* 밑줄의 위치 조정 */
color: #dd578c
  }


/* 노트 임베딩 타이틀 */
.markdown-embed-title {
    font-size: 1.2em;
    color: #2eded6; /* 폰트 색상 */

}

/* 이미지 테두리 및 여백 */
img {
  border: 1px solid #eeeeee;
  margin-top: 15px; /* 이미지 위에 여백 추가 */
margin-bottom: 15px; /* 이미지 아래에 여백 추가 */
  }


/* 예: #데이터뷰 태그 */
.tag[href="#데이터뷰"] {
    color: #eeeeee;
    background-color: #0e74b9;
}

/* 예: #일기 태그 */
.tag[href="#일침"] {
    color: red;
    background-color: transparent;
}
/* 예: #플러그인 태그 */
.tag[href="#플러그인"] {
    color: #eeeeee;
    background-color: #21a058;

}

/* 구분선 스타일 */
.markdown-preview-view hr,
.markdown-source-view.mod-cm6 .cm-line hr {
  width: 50%;
  margin: 50px auto;
  border: none; 
  border-top: 2px solid #a5da49;
}
