/* 이 스니펫은 Things 테마의 단락조절부분만 떼내온 것으로 */
/* 편집모드에서 단락을 조절할 수 있습니다. Style Settings 에서 조절할 수 있다는 장점이 있습니다. */
body {
    --paragraph-margin-top:10px;
    --paragraph-margin-bottom:5px;
}

div:not(.HyperMD-header,.HyperMD-list-line).cm-line {
    padding-top:var(--paragraph-margin-top) !important;
    padding-bottom:var(--paragraph-margin-bottom) !important;
}

div:not(.HyperMD-header,.HyperMD-list-line).cm-line:has(.cm-fold-indicator) {
    padding-top:unset !important;
    padding-bottom:unset !important;
}
div:not(.HyperMD-header,.HyperMD-list-line).cm-line:has(.cm-hmd-frontmatter) {
    padding-top:unset !important;
    padding-bottom:unset !important;
}

/* @settings
name: 단락 간격 조정 (Things Theme optimize)
id: things-style-optimize
settings:
    -
        id: paragraph-margin-top
        title: 단락 앞 간격
        type: variable-text
        default: 5px
    -
        id: paragraph-margin-bottom
        title: 단락 뒤 간격
        type: variable-text
        default: 5px    
*/