/* Task 완료시 취소선 안보이게 하는 CSS Snippet입니다. */
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"], 
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
text-decoration: unset !important;
}

ul > li.task-list-item[data-task="x"], 
ul > li.task-list-item[data-task="X"] {
text-decoration: unset !important;
}